_target_: src.models.gan_module.GAN

generator:
  _target_: src.models.gan_components.dc_gan.Generator
  latent_dim: 100
  feat_dim: 128
  channels: 1
discriminator:
  _target_: src.models.gan_components.dc_gan.Discriminator
  channels: 1
  feat_dim: 128
custom_weights_init: dc_gan
lr: 0.0002
b1: 0.5
b2: 0.999
