_target_: src.models.gan_module.GAN

generator:
  _target_: src.models.gan_components.ff_gan.Generator
  _partial_: true
discriminator:
  _target_: src.models.gan_components.ff_gan.Discriminator
  _partial_: true
channels: 1
width: 28
height: 28
latent_dim: 100
lr: 0.0002
b1: 0.5
b2: 0.999
